/*FONTS*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato);

/*Preloader*/
.ct-preloader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    top: 0;
    left: 0;
}
.ct-preloaderCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -25px;
}
.ct-preloader-content{
    position:relative;
}
.ct-preloader-content span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: ct-preloader-content 1.5s  infinite ease-in-out;
}

.ct-preloader-content span:nth-child(2){
    left:11px;
    animation-delay: .2s;

}
.ct-preloader-content span:nth-child(3){
    left:22px;
    animation-delay: .4s;
}
.ct-preloader-content span:nth-child(4){
    left:33px;
    animation-delay: .6s;
}
.ct-preloader-content span:nth-child(5){
    left:44px;
    animation-delay: .8s;
}
@keyframes ct-preloader-content {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}

/*MAIN*/

.make-hidden{
    display: none;
    visibility: hidden;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    *zoom: 1;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.ct-googleMap--MapCol{
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
}

.ct-googleMap--SidebarCol{
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
}

.ct-googleMap {
    height: 500px;
    background-color: black;
    width: 100%;
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box}

.clearfix{
    clear: both;
}
.ct-googleMap--sidebar{
    text-align: left;
    width: 100%;
}
.ct-googleMap--selectContainer{
    margin-bottom: 18px;
}
.ct-googleMap--select{
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: relative;
    z-index: 1;
    font-size: 14px;
    padding: 9px 9px 9px 0;
    -webkit-appearance: none;
    /*Removes default chrome and safari style*/
    -moz-appearance: none;
    /*Removes default style Firefox*/
    /*text-indent: 0.01px;*/
    /* Removes default arrow from firefox*/
    text-overflow: "";
    /*Removes default arrow from firefox*/
    color: #333;
}
.ct-googleMap--resultsCounter{
    font-size: 1.2em;
    line-height: 40px;
    padding: 0 40px 0 17px;
}
.ct-googleMap--results{
    min-height: 320px;
}
.ct-googleMap--itemCounter{
    float: right;
}
.ct-googleMap--select:focus{
    outline: none;
}
.ct-googleMap--selectContainer, .ct-googleMap--searchContainer{
    position: relative;
}
.ct-googleMap--selectContainer:after, .ct-googleMap--searchContainer:after{
    content: "";
    clear: both;
}
.ct-googleMap--searchContainer:before, .ct-googleMap--selectContainer:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
.ct-googleMap--searchContainer{
    margin-bottom: 24px;
}
.ct-googleMap--sidebar .ct-googleMap--search{
    height: 40px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 36px;
    color: #333;
    background-color: transparent;
    border: 1px solid #d7d6d6;
    padding-right: 15px;
    padding-left: 15px;
}

.ct-googleMap--sidebar .ct-googleMap--search:focus{
    outline: none;
}
.ct-googleMap--sidebar .ct-googleMap--sidebarItem{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    border: none;
    padding: 8px 0 8px 17px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: table;
    width: 100%;
    max-height: 41px;
}
.ct-googleMap--sidebarItem span{
    display: table-cell;
    vertical-align: middle;
}
.ct-googleMap--sidebarItem .ct-googleMap--sidebarItemDistance{
    text-align: right;
    padding-left: 5px;
    width: 75px;
}

.ct-googleMap--InfoWindowBody{
    padding: 15px;
    position: relative;
    background-color: #fff;
    color:  #333;
}
.ct-googleMap--closeButton{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.ct-googleMap--InfoWindowBody span{
    font-size: 1.2em;
    line-height: 1.5em;
    display: block;
    position: relative;
}

.ct-googleMap--InfoWindowBody a{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}
.ct-googleMap--customInfoWindow a:hover{
    opacity: 0.7;
}
/*RESPONSIVE(MEDIA QUERIES)*/

@media(max-width: 1200px ) {

    .ct-googleMap--SidebarCol{
        width: 40%;
    }
    .ct-googleMap--MapCol{
        width: 60%;
    }
}

@media (max-width: 768px) {
    .ct-googleMap--SidebarCol, .ct-googleMap--MapCol{
        width: 100%;
    }
    .ct-googleMap--sidebar{
        margin-bottom: 30px;
    }
}
